@use './../../scss/' as *;
.wrapper {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    .sidebar {
        padding-right: 2rem;
        width: 100%;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: flex-end;
        background-color: #ccc;
        .display,
        .Items-per-page {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-right: 1rem;
            font-weight: 200;
            span {
                position: relative;
                top: -10px;
                font-size: 1rem;
                height: 30px;
            }

            select {
                position: relative;
                top: -10px;
                height: 30px;
                border: 0.5px solid #ccc;
                font-size: 1rem;
                padding: 5px 5px;
                border-radius: 5px;
                option {
                    padding: 5px;
                }
            }
        }

        .pagination {
            margin-left: 2rem;
            .btn {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            span {
                font-size: 1.2rem;
                margin: 0 2rem;
            }
            input {
                width: 30px;
                height: 30px;
                padding-left: 1rem;
                color: #333;
            }
            .span {
                margin: 0 1rem;
            }
            .icon {
                color: #c5c5c5;
            }
        }
    }
    .inner {
        display: flex;
        margin-bottom: 2rem;
        .navbar {
            width: 255px;
            margin-top: 2rem;
            .type {
                width: 100%;
                text-transform: uppercase;
                h3 {
                    padding: 20px 30px;
                    border-bottom: 1px solid #ccc;
                    font-size: 1.5rem;
                    color: #c5c5c5;
                }
                .form {
                    padding: 20px 30px;
                    input {
                        width: 15px;
                        height: 15px;
                        margin-right: 1rem;
                    }
                    .image {
                        color: #c5c5c5;
                        font-weight: 300;
                    }
                }
            }
        }
        .content {
            width: calc(100% - 255px);
            padding-left: 2rem;
            margin-top: 2rem;
            .auth {
                span {
                    strong {
                        font-size: 2.4rem;
                        font-weight: 600;
                    }
                }
                p {
                    font-size: 1.4rem;
                    font-weight: 400;
                    margin-top: 1rem;
                    .login {
                        color: $color;
                        margin-right: 0.6rem;
                        border-bottom: 1px solid $color;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .detail-infor {
                margin-top: 2rem;
                padding-bottom: 1rem;
                .name {
                    font-size: 2.6rem;
                    color: #333;
                    font-weight: 500;
                }
                .id {
                    font-size: 1.4rem;
                    font-weight: 400;
                }
                .description {
                    font-size: 2rem;
                    font-weight: 400;
                }
            }
            .item-content {
                display: flex;
                flex-direction: row;
            }
        }
    }
}
