@use './../../../scss/' as *;

.wrapper {
    width: 100%;
    height: $header-height;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    @include tablet {
        display: flex;
        justify-content: none;
    }
    .left {
        margin-top: 0.5rem;
        margin-left: 4rem;
        @include tablet {
            margin-left: 2rem;
        }
        @include mobile {
            margin-left: 2rem;
        }
        .logo {
            img {
                width: 320px;
                height: 50px;
            }
        }
        .navbar {
            position: relative;
            display: flex;
            margin-top: 0.5rem;
            @include tablet {
                position: absolute;
                width: 600px;
            }
            // @include mobile {
            //     width: 500px;
            // }
            .blur {
                padding: 0 12px;
                @include tablet {
                    padding: 0 6px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 12px;
                    bottom: 3px;
                    background-color: #ccc;
                }
            }
        }
    }
    .right {
        margin-right: 2rem;

        .help {
            display: flex;
            justify-content: flex-end;
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 300;
            margin-top: 0.6rem;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                top: 15px;
                right: 1px;
                height: 3px;
                background-color: #000;
            }
        }
        .no_signIn {
            display: flex;
            justify-content: right;
            margin-top: 1rem;

            .blur {
                padding: 0 12px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 12px;
                    bottom: 3px;
                    background-color: #ccc;
                }
            }
        }

        .search {
            position: relative;
            margin-top: 3rem;

            input {
                color: #666;
                font-size: 1.8rem;
                border: 1px solid #ccc;
                font-weight: 300;
                width: 463px;
                height: 39px;
                padding: 8px 41px 8px 15px;
            }

            .icon {
                position: absolute;
                color: #f0ac47;
                right: 10px;
                top: 8px;
                font-size: 2rem;
                font-weight: 200;
                cursor: pointer;

                &:hover {
                    font-size: 2.3rem;
                }
            }
        }
    }
}
