//color primary
$background-color: #fff;
$primary-color: #5db8fe;
$color: #ec9022;
$text-color: #4e595e;

//color
$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 15rem;
$default-layout-width: 1180px;
$sidebar-width: 240px;
$header-shrink-height: 5rem;
$border-radius: 30px;

//responsive
$mobile-width: 600px;
$tablet-width: 1024px;
$laptop-width: 1400px;

$font-family-Roboto: 'Roboto', sans-serif;
